@model AccessControlModels.Room
<section class="content-header">
    <h1>
        Rooms
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Update Room</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Rooms/Update">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="Email" class="form-control" name="Name" value="@Model.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Number" placeholder="Number" value="@Model.Number">
                    </div>
                </div>
                <input type="hidden" name="Type" value="@Model.Type" />
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-group">
                    <div class="col-sm-10">
                        @foreach (var room in ViewBag.OtherRooms)
                        {
                            <input type="checkbox" name="connRooms" value="@room.Id"
                                   @(ViewBag.ConnectedRoomsIds.Contains(room.Id) ? "checked=\"checked\"" : "") />@room.ToString() <br />
                            }
                        <input type="checkbox" name="connRooms" value="-1"
                               @(ViewBag.ConnectedRoomsIds.Contains(-1) ? "checked=\"checked\"" : "") />Outdoors<br />
                    </div>
                </div>
            </div>

            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Update</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>

